@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap");

:root {
    --text-primary: #e1dec7;
    --highlight-color: #f6e35a;
    --background-secondary: #383624;
    --background-secondary-light: #282617;
    --accent: #f8c031;
    --shadow: rgba(217, 108, 108, 0.5);
    --button-bg: #aca788;
    --button-text: #3f3b00;
    --overlay-bg: rgba(40, 38, 23, 0.95);
    --border-color: #fcd256;
    --pulse-text-color: #9f9d83;
    --hint-text: #23221f;
    --background-dark: black;
    --text-white: white;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.5;
    color: #ebe7ef;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background: radial-gradient(
            circle at top,
            rgba(241, 210, 70, 0.98),
            rgba(250, 176, 103, 0.87)
        ),
        url("/react-tictactoe/bg-pattern-dark.png");
}

main {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

#game-container {
    margin: auto auto;
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(#383624, #282617);
    box-shadow: 0 0 20px var(--shadow);
    position: relative;
}

#players {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#players li {
    display: flex;
    align-items: center;
    width: 50%;
    border: 2px solid transparent;
    border-radius: 1rem;
}

#players.highlight-player li.active {
    border-color: var(--highlight-color);
    animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
    color: var(--highlight-color);
}

.player {
    border: 2px solid transparent;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.player-name {
    width: 10rem;
    font-size: 1rem;
    color: var(--text-primary);
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    text-overflow: ellipsis;
    text-align: center;
}

.player input {
    font: inherit;
    font-size: 1rem;
    width: 10rem;
    border: none;
    padding: 0.5rem;
    animation: pulse-text 2s infinite;
    background-color: #46432f;
    text-align: center;
    text-transform: uppercase;
}

.player-symbol {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--text-primary);
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
    padding: 0;
    flex-direction: column;
}

#game-board ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

#game-board button {
    width: 8rem;
    height: 8rem;
    border: none;
    background: var(--button-bg);
    color: var(--button-text);
    font-size: 5rem;
    cursor: pointer;
    font-family: "Caprasimo", cursive;
    padding: 1rem;
}

#game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 38, 23, 0.95);
    animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
    border-radius: 1rem;
}

#game-over h2 {
    font-family: "Caprasimo", cursive;
    font-size: 4rem;
    text-align: center;
    color: var(--border-color);
    margin: 0;
}

#game-over p {
    font-size: 2rem;
    text-align: center;
    color: var(--text-primary);
}

#game-over button {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    background: none;
    border: 2px solid var(--border-color);
    color: var(--border-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s, color 0.2s;
    box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

#game-over button:hover {
    background: var(--border-color);
    color: var(--button-text);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

#results {
    display: flex;
    justify-content: center;
    background-color: var(--background-dark);
    color: var(--text-white);
    padding: 1rem;
    font-size: xx-large;
    border-radius: 1rem;
}

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse-text {
    0% {
        color: var(--text-primary);
    }
    50% {
        color: var(--pulse-text-color);
    }
    100% {
        color: var(--text-primary);
    }
}

@keyframes pulse-text-size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        border-color: var(--highlight-color);
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
    }
    50% {
        border-color: var(--accent);
        box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
    }
    100% {
        border-color: var(--highlight-color);
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
    }
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
